/ClassesFactory.java
/Gewicht.java
/Geometrie.java
/Geometrieoben.java
/Geometriemitte.java
/Geometrieunten.java
/ProfilGewichte.java
/Geometrieelement.java
/Gewichtestapel.java
/PipeProfil1.java
/AussenProfil.java
/InnerSolid.java
/PipeProfil2.java
/Zusatzgewichte.java
