/MastschussImpl.java
/TeilMastschussImpl.java
/EbeneTeilImpl.java
/VierkantEbeneTeilImpl.java
/AnfangsTeilMastschussImpl.java
/MittelTeilMastschussImpl.java
/EndTeilMastschussImpl.java
/HolmImpl.java
/MastschussGeometrieImpl.java
/PfostenImpl.java
/DiagonaleImpl.java
/SolidVerbindungImpl.java
/StahlrohrImpl.java
/DreikantEbeneTeilImpl.java
/FuenfkantEbenTeilImpl.java
/ClassesFactoryImpl.java
