/PartImpl.java
/ScrewImpl.java
/ThreadClassImpl.java
/ThreadTrackImpl.java
/ThreadTrackPointImpl.java
/ExpandableImpl.java
/HeadImpl.java
/HeadBaseImpl.java
/HexagonImpl.java
/ThreadProfilImpl.java
/TrapezGewindeProfilImpl.java
/ShaftImpl.java
/TestScrewImpl.java
/ClassesFactoryImpl.java
